.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.book:hover{
    box-shadow: 40px -12px rgba(255, 255, 255, 0.664), 30px -12px rgba(204, 204, 204, 0.849),50px -12px rgba(144, 136, 136, 0.733);
}
.image{
    height: 180px;
}
.book{
    height: 53vh;
    margin: 20px;
}
.book p{
    padding-top: 5px;
}

@media (max-width: 1400px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .book{
        height: 100%;
    }
}

@media (max-width: 1000px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width: 700px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10vw;
        margin-right: 10vw;
    }
}
.searchInput{
    width: 300px;
    height: 32px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 4%;
    font-family: 'Roboto';
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.835);
    border: navajowhite ;
}